<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
</head>
<body>
    <p><a href="/">Back to Main Page</a></p>
    {% block headline %}{% endblock %}
    <form action="{% block action %}/add-question{% endblock %}" method="post">
        <label for="title">Title:</label><br>
        <input id="title" name="title" {% block title %}{% endblock %} required><br><br>

        <label for="message">Message:</label><br>
        <textarea id="message" name="message" required>{% block message %}{% endblock %}</textarea><br><br>

        <button type="submit">{% block button %}Add new question{% endblock %}</button>
    </form>

    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>

</body>
</html>