{% extends "layout.html" %}

{% block title %}
    Question {{ question['title'] }}
{% endblock %}

{% block content %}
    <h2>Question {{ question['title'] }}</h2>
    <table>
        <tr>
            {% for key in question.keys() %}
                {% if key in question_header %}
                    {% if key == 'message' %}
                        <th>{{ 'QUESTION' }}</th>
                    {% else %}
                        <th>{{ key.upper() }}</th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in question.items() %}
                {% if key in question_header  %}
                    {% if key == 'image' %}
                        {% if value %}
                            <td>
                                <a href="{{ url_for('static', filename=value) }}" target="_blank">
                                    <img src="{{ url_for('static',filename=value) }}" style="max-height: 50px;">
                                </a>
                            </td>
                        {% else %}
                            <td>
                                <p>No image</p>
                            </td>
                        {% endif %}
                    {% else %}
                        <td>{{ value }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    </table>

    <a href="{{ url_for('add_new_tag', question_id=question['id']) }}">Add new tag</a>

    <h3>Tags:</h3>
    {% for tag in tags %}
        {% if tag.id in question_tags %}
            <p>{{ tag.name }}</p>
        {% endif %}
    {% endfor %}

    <p><a href="/question/{{ question['id'] }}/edit">Edit question</a></p>
    <form action="/question/{{ question['id'] }}/delete" method="post">
        <button type="submit">Delete question</button>
    </form><br>

    <a href="{{ url_for('add_new_comment', question_id=question['id']) }}">Add new comment to this question</a><br>

    <h3>Comments for question {{ question['title'] }}</h3>

    <table>
        <tr>
            {% for key in comments[0].keys()  %}
                {% if key in comment_header %}
                    {% if key == 'message' %}
                        <th>COMMENT</th>
                    {% else %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>

        {% for comment in comments %}
            {% if comment['question_id'] and question['id'] == comment['question_id'] %}
                <tr>
                {% for key, value in comment.items() %}
                    {% if key in comment_header %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
                 <td>
                    <form action="{{ url_for('edit_comment', comment_id=comment['id']) }}" name="edit" method="get">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('delete_comment', comment_id=comment['id']) }}" name="delete" method="get">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table><br>

    <h2>Answer(s) for question {{ question['title'] }}</h2>


        {% for answer in answers %}
            <table>
                <tr>
                    {% for key in answers[0].keys() %}
                        {% if key in answer_header %}
                            {% if key == 'message' %}
                                <th>{{ 'ANSWER' }}</th>
                            {% else %}
                                <th>{{ key.replace('_', ' ').upper() }}</th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>

                {% for key, value in answer.items() %}
                    {% if key in answer_header %}
                        {% if key == 'image' %}
                           {% if value %}
                                <td>
                                    <a href="{{ url_for('static', filename = value) }}" target="_blank">
                                        <img src="{{ url_for('static',filename = value) }}" alt="forum picture" style="max-height: 50px;">
                                    </a>
                                </td>
                            {% else %}
                                <td><p>No image</p></td>
                            {% endif %}
                        {% else %}
                            <td style="text-align: center; height: 50px;">{{ value }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <td>
                    <form action="/answer/{{ answer['id'] }}/delete" method="post">
                        <button type="submit">Delete answer</button>
                    </form>
                    <form action="{{ url_for('edit_answer', answer_id=answer['id']) }}">
                        <button type="submit">Edit answer</button>
                    </form>
                </td>
                <td>
                    <a href="/answer/{{ answer['id'] }}/vote_up">Vote up</a>
                </td>
                <td>
                    <a href="/answer/{{ answer['id'] }}/vote_down">Vote down</a>
                </td>
                <td>
                    <a href="{{ url_for('add_new_comment', answer_id=answer['id']) }}">Add new comment to this answer</a>
                </td>
            </table>
            <table>
                <tr>
                    {% for key in comments[0].keys() %}
                        {% if key in comment_header %}
                            {% if key == 'message' %}
                                <th>COMMENT</th>
                            {% else %}
                                <th>{{ key }}</th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
                {% for comment in comments %}
                    {% if comment['answer_id'] and answer['id'] == comment['answer_id'] %}

                        <tr>
                        {% for key, value in comment.items() %}
                            {% if key in comment_header %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <form action="{{ url_for('edit_comment', comment_id=comment['id']) }}" name="edit" method="get">
                                <button type="submit">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for('delete_comment', comment_id=comment['id']) }}" name="delete" method="get">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table><br>
        {% endfor %}
    <p><a href="{{ question['id'] }}/new-answer">Add a new answer</a></p><br>
{% endblock %}