<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='balna_eye.png') }}" type="image/png">
    <title>{% block title %}{% endblock %}-Jinja3</title>
</head>
<body>
    {% block back %}
        <a href="/" id="back">Back to Main Page</a><br>
    {% endblock %}

    <h1>Jinja 3 Forum</h1>
    <img class="logo" src="{{ url_for('static', filename='balna.png') }}" width="200px">

    {% block content %}
    {% endblock %}
</body>
</html>