{% extends "layout.html" %}
{% block title %}
    List questions
{% endblock %}

{% block content %}
    {% block back %}
    {% endblock %}
    <h2>Questions</h2>

    <p><a href="/add-question">Add new question</a></p>

    <!--Link for bonus questions-->
    <a href="{{ url_for('bonus_questions') }}">Bonus Questions</a>

        {% block highlight %}

        {% include 'question_layout.html' %}

        {% endblock %}

    {% if main_page %}
        <a href="/list">All question</a>
    {% endif %}
{% endblock %}