{% extends "layout.html" %}
{% block title %}
    List questions
{% endblock %}

{% block content %}
    {% block back %}
    {% endblock %}
    <h2>Questions</h2>

    <p><a href="/add-question">Add new question</a></p>

    {% block highlight %}

        {% for question in questions %}
            <div class="question">
            {% for title, value in question.items() %}
                    {% if title == 'title' %}
                        <div class="title"><a href="/question/{{ question['id'] }}/view"><h3>{{ value }}</h3></a></div>

                    {% elif title in ['message', 'vote_number', 'submission_time'] %}
                        <div class="{{ title }}"><p>{{ value }}</p></div>

                    {% elif title == 'view_number' %}
                        <div class="{{ title }}"><p>Viewed: {{ value }} times</p></div>
                    {% elif title == 'image' %}
                        {% if value %}
                            <div class="image"><a href="{{ url_for('static', filename=value) }}" target="_blank">
                                <img src="{{ url_for('static',filename=value) }}" style="max-height: 50px;">
                            </a></div>

                        {% else %}
                            <div class="image">No image</div>
                        {% endif %}
                    {% endif %}

            {% endfor %}
                <div class="vote_up vote"><a href="/question/{{ question['id'] }}/vote_up">🔺</a></div>
                <div class="vote_down vote"><a href="/question/{{ question['id'] }}/vote_down">🔻</a></div>
            </div>
        {% endfor %}


        {% endblock %}

    {% if main_page %}
        <a href="/list">All question</a>
    {% endif %}
{% endblock %}