{% extends 'layout.html' %}

{% block content %}
    <table>
        <tr>
            {% for header in headers.keys() %}
                <th>{{ header.replace('_', ' ').capitalize() }}</th>
            {% endfor %}
        </tr>
    {% for user in users %}
        <tr>
            {% for key, value in user.items() %}
                {% if key == 'registration_date' %}
                    <td>{{ value.strftime("%Y-%m-%d %H:%M") }}</td>
                {% else %}
                    <td>{{ value if value else "0" }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>


{% endblock %}

