{% extends "layout.html" %}
{% block title %}
    List questions
{% endblock %}


{% block content %}
    {% if user_id %}
        <p><a href="{{ url_for('user_profile', user_id=user_id) }}">View User Profile</a></p>
    {% endif %}
        <p><a href="{{ url_for('tags') }}">View Tags</a></p>

    {% block back %}
    {% endblock %}

    {% if logged_in %}
        <p><a href="/add-question">Add new question</a></p>
    {% endif %}
    <!--Link for bonus questions-->
    <a href="{{ url_for('bonus_questions') }}">Bonus Questions</a>
    <h2>Questions</h2>
        {% block highlight %}

        {% include 'question_layout.html' %}

        {% endblock %}

    {% if main_page %}
        <a href="/list">All question</a>
    {% endif %}
{% endblock %}