{% extends "layout.html" %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/registration.js') }}" defer></script>
{% endblock %}

{% block navbar %}{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <h2>Register</h2>
    <form method="post">
        <fieldset>
            <legend>Create New Account</legend>
            <label for="username">Username</label><br>
            <input type="text" name="username" id="username" placeholder="username" required><br><br>

            <label for="email">E-mail</label><br>
            <input type="email" name="email" id="email" placeholder="e-mail" required><br><br>

            <label for="password">Password</label><br>
            <input onkeyup='check();' type="password" name="password" id="password" placeholder="password" required><br><br>

            <label for="password_confirmation">Confirm Password</label><br>
            <input onkeyup='check();' type="password" name="password_confirmation" id="password_confirmation" placeholder="confirm password" required><br><br>
            <span id="message"></span>
            <br><br>

            <button id="submit" type="submit">Register</button>
        </fieldset>
    </form>
{% endblock %}
