{% extends 'layout.html' %}

{% block content %}

    <h2>User Profile Information</h2>
    <ul>
    {% for info in user %}
        <li>{{ info }}: {{ user[info] }}</li>
    {% endfor %}
    </ul>

    <h3>User related Questions</h3>
    {% for question in questions %}
    <p>{{ question }}</p>
    {% endfor %}

    <h3>User related Answers</h3>
    {% for answer in answers %}
        <p>{{ answer }}</p>
    {% endfor %}

    <h3>User related Comments</h3>
    {% for comment in comments %}
        <p>{{ comment }}</p>
    {% endfor %}


{% endblock %}